marshmallow==3.12.2
flask==2.0.1
flask-restx
Flask-JWT-Extended==4.2.3
locust
gevent==21.1.2
cerebralcortex-kernel==3.3.16
msgpack==1.0.2
PyJWT==2.1.0
#python-snappy==0.5.3 # requires -> apt install libsnappy-dev