marshmallow==2.15.1
flask==1.0.2
flask-restplus==0.10.1
Flask-JWT-Extended==3.1.1
locustio==0.8a1
gevent==1.4.0
deepdiff==3.3.0
pandas==0.23.4
cerebralcortex-kernel==3.1.0.post1
msgpack==0.6.1
#python-snappy==0.5.3 # requires -> apt install libsnappy-dev
PyJWT==1.7.1
