marshmallow==2.15.1
flask==1.0.2
flask-restx==0.2.0
Flask-JWT-Extended==3.1.1
locustio==0.8a1
gevent==1.1.2
deepdiff==3.3.0
pandas==1.0.5
#cerebralcortex-kernel==3.3.2
msgpack==0.6.1
PyJWT==1.7.1
#python-snappy==0.5.3 # requires -> apt install libsnappy-dev